language: node_js
branches:
  only:
    - master
    - /^greenkeeper/.*$/
cache:
  yarn: true
notifications:
  email: false
node_js:
  - node
script:
  - npm run test:prod && npm run build
jobs:
  include:
  - stage: Produce Coverage
    node_js: node
    script: cat lcov.info | ./node_modules/coveralls/bin/coveralls.js
after_success:
  - npm run report-coverage
  - npm run deploy-docs
  - npm run semantic-release
